*{
    padding: 0;
    margin: 0;
    
    
}

#canvas{
    background-color: #000000;
    position: relative;
    
    
}
#div{
   position: absolute;
    width: 1000px;
    height: 600px;
    left:50px;
    top:50px;
}
